@use "../../scss/"as *;

.logo {
    font-size: 2.5rem;
    font-weight: 600;

    @include flex(center, unset);

    img {
        margin-right: 10px;
        width: 50px;

        @include mobile {
            width: 30px;
            margin-right: 0;
        }
    }
}

.header {
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: height 0.3s ease, background-color 0.3s ease;

    &.shrink {
        height: $header-shrink-height;
        background-color: $body-bg;
    }

    &__wrap {
        @include flex(center, space-between);
        height: 100%;
        padding: 0 2rem;

        @include mobile {
            justify-content: center;
        }
    }

    &__nav {
        @include flex(center, unset);

        &>*~* {
            margin-left: 2rem;
        }

        li {
            padding: 5px 0;
            font-weight: 700;
            position: relative;
            font-size: 1.5rem;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                transition: width 0.5s ease;
                height: 2px;
                background-color: $main-color;
            }

            &.active::after,
            &:hover::after {
                width: 100%;
            }
        }

        @include mobile {
            position: fixed;
            bottom: 0;
            left: 0;
            height: 5rem;
            width: 100%;
            background-color: $body-bg;
            padding: 0 2rem;
            box-shadow: $box-shadow;

            @include flex(center, space-between);

            &>*~* {
                margin-left: 0;
            }
        }
    }
}

.dropdown {
    position: relative;

   
    &__items {
        padding: 20px;
        border-radius: 25px;
    }

    &__face {
        display: block;
        position: relative;
        margin-top: 10px;
    }

    &__items {
        background-color: $black;

        margin: 0;
        position: absolute;
        right: -50%;
        list-style: none;
        list-style-type: none;

        justify-content: space-between;
        visibility: hidden;
        z-index: -1;
        opacity: 0;
        transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);

        &::before {
            content: "";
            background-color: $black;
            position: absolute;
            bottom: 100%;
            right: 15%;
            height: 15px;
            width: 35px;
            transform: rotate(125deg);
        }
    }

    & .dropdown__items {
        cursor: pointer;
    }

    & .dropdown-item.disabled {
        opacity: 0.5;
        color: currentColor;
        cursor: not-allowed;
        opacity: 0.5;
        text-decoration: none;
    }

    &__arrow {
        border-bottom: 2px solid #000;
        border-right: 2px solid #000;
        position: absolute;
        top: 50%;
        right: 30px;
        width: 10px;
        height: 10px;
        transform: rotate(45deg) translateY(-50%);
        transform-origin: right;
    }

    input {
        display: none;

        &:checked~.dropdown__items {
            top: calc(100% + 25px);
            visibility: visible;
            opacity: 1;
        }
    }
}